# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# IPython Notebook
.ipynb_checkpoints

# virtualenv
.python2

# PyCharm project settings
.idea

# Large datasets
# data/

# Notes
NOTES.txt